.section {
    position: relative;
    width: 100%;
    background-color: black;
    height: calc(100vh);
}

.sectionContainer {
    /* display: none; */
    position: relative;

    top: calc(100% - 810px);
    max-width: 1275px;
    padding: 0 15px;
    margin: 0 auto;
}

.image {
    position: absolute;
    left: -65px;
    top: 0;
}

@media screen and (max-width: 1150px) {
    .textInfo {
        left: 550px !important;
    }
}

@media screen and (max-width: 1050px) {
    .textInfo {
        left: 450px !important;
    }

    .sectionContainer {
        top: calc(100% - 750px);
    }
}

@media screen and (max-width: 950px) {


    .image {
        display: none;
    }

    .textInfo {
        position: relative;
        left: 0 !important;
        text-align: right;
    }

    .sectionContainer {
        
       
        margin-right: 20px;
        top: calc(100% - 810px);


    }


}

@media screen and (max-width: 550px) {
    .name {
        margin-bottom: 200px !important;
  
        font-size: 50px !important;
 
    }
}

@media screen and (max-width: 500px) {
    .textInfo {
        
        padding-right: 0px !important;
        padding-left: 10px;
 
    }
}
.textInfo {
    position: absolute;
    padding-right: 20px;
    left: 660px;
    top: 100px;
}

.description {
    font-weight: 400;
    font-size: 32px;
    text-align: right;
    color: #006fe7;
}

.name {
    margin-bottom: 220px;

    font-family: "Literata", serif;
    font-optical-sizing: auto;

    font-weight: 400;
    font-size: 64px;
    text-align: right;
    color: #fff;
}

.portfolio {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.sliderContainer {
    overflow: hidden;
    position: absolute;
    top: calc(100% - 130px);
    height: 130px;
    width: 100%;
    background: #006fe7;

    display: flex;
    align-items: center;
}

.separator {
    margin: 0 1em; /* Отступы для разделителя */
  }

.slider {
    font-family: "Literata", serif;
    font-weight: 400;
    font-size: 64px;
    padding-left: 100%;

    animation: slide 120s linear infinite;

    display: inline-block;
    white-space: nowrap;
    color: #fff;
}

@keyframes slide {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(-100% - 1em));
    }
}

@keyframes slide {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(-100% - 1em));
    }
}